.container {
    margin-top: 1.2rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: azure;
    margin: 16em 8em;
  }
  
.container input,
.container ::-webkit-input-placeholder {
    color: white !important;
}
.container input:focus {
    background-color: transparent;
    box-shadow: none !important;
    border: none;
    border-bottom: 2px solid tomato;
}

.weatherContainer {
    flex: 1;
}

.headerContainer {
    flex-direction: 'row';
    align-items: 'center';
    justify-content: 'space-around';
}

.tempText {
    font-size: 65px;
    color: '#fff';
}

.bodyContainer {
    align-items: 'flex-start';
    justify-content: 'flex-end';
    padding-left: 25;
    margin-bottom: 100;
}

.title {
    font-size: 60;
    color: '#fff';
}

.subtitle {
    font-size: 24;
    color: '#fff';
}

.time {
    font-size: 38;
    color: '#fff';
}